img {
  width: 80%;
  border-radius: 50%;
}

#img-div {
  width: 25%;
  min-width: 300px;
  max-height: 300px;
}

#about-div {
  width: 50%;
  justify-content: baseline;
}

#p-div {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  margin:auto;
  align-items: flex-start;
  font-size: 1.4rem;
}